/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding: 1.6rem;
}

img {
    display: block;
}

/* ======Profile section======== */
.container {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}

.profile-image {
    grid-row: 1 / 4;
}

.profile-image img {
    width: 15rem;
    height: 15rem;
    border: 0.6rem solid #4b7261;
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats ul,
.profile-bio {
    display: flex;
    align-items: center;
    margin-top: 0.8em;
}

.profile-user-name {
    color: #525252;
    font-weight: normal;
}

.profile-user-settings {
    gap: 1rem;
}

.profile-edit-btn {
    font-size: 0.8rem;
    font-weight: bold;
    background: transparent;
    border: 0.15rem solid #b7b7b7;
    border-radius: 2px;
    padding: 0.2em 1em;
}

.profile-settings-btn {
    background: transparent;
    border: none;
}

.profile-stats ul {
    gap: 2rem;
    text-align: start;
    padding: 0;
}

.profile-stats li {
    font-size: 1rem;
    letter-spacing: 0.1px;
    list-style: none;
}

.profile-stat-count {
    font-weight: bold;
}

/* ========Gallery section========= */
.gallery {
    border: 2px solid rgb(111, 7, 239);
    margin-top: 1.6em;
    display: grid;
    justify-items: center;
    gap: 0.8rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: 25rem auto;
}

.gallery-item {
    position: relative;
    border: 2px solid red;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item-info ul {
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.2rem;
    background-color: rgb(38, 38, 38, 0.5);
    color: #fafafa;
    opacity: 0;
    list-style: none;
    transition: opacity 0.5s ease;
}

.gallery-item:hover .gallery-item-info ul {
    opacity: 1;
}

.visually-hidden,
.fa-clone::before {
    display: none;
}

/* ========Loader======== */
.loader {
    margin: 1.6rem auto;
    border: 3px solid #4b7261;
    border-top: 3px solid #fafafa; 
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    animation: rotate 0.7s linear infinite;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* ========Media query========= */
@media screen and (max-width: 480px) {
    .profile {
        grid-template-columns: 1fr;
    }
}